@import "./partials/bootstrap-overrides";

body {
    font-family: "Roboto", sans-serif;
}

ul {
    padding-inline-start: 0;
}

.selected:hover {
    transform: scale(1.2, 1.2);
    z-index: 10;
}

/* EDIT PROFILE with FLEXBOX */

.mainWrap {
    display: flex;
}

wrap1 {
    position: relative;
}

.pencil {
    background-color: black;
    border: 1px solid white;
    border-radius: 100px;
    position: absolute;
    padding: 1px;
    transform: translate(20%,-120%);
}